<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andrew.wechetshop.dao.GoodsStockMapper">
    <update id="deductStock" parameterType="GoodsInfo">
        UPDATE GOODS
        SET stock = stock - #{number}
        WHERE id = #{id}
            AND status = 'ok'
            AND stock >= #{number}
    </update>
</mapper>